<!doctype html>
<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none !important;
    }
    </style>
</head>

<body ng-app="hello">

<div ng-controller="navigation as nav" class="container">
    <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#/">home</a></li>
        <li><a href="login">login</a></li>
        <li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout</a></li>
    </ul>
</div>
<div ng-view class="container"></div>

<script src="/webjars/angularjs/angular.min.js"></script>
<script src="/webjars/angular-route/angular-route.min.js"></script>
<script src="app.js"></script>
</body>
</html>
